form table {
    width: 80%;
    border-collapse: collapse;
    table-layout: fixed;
    margin: 20px auto;
}
form th,
form td {
    border: 1px solid #555;
    padding: 10px;
    vertical-align: middle;
}

form th {
    background-color: #add8e6;
    color: blue;
    font-weight: bold;
}

form td:first-child {
    width: 30%;
    text-align: right;
    background-color: #f0f6f9;
}

form td:last-child {
    width: 70%;
    background-color: #f0f6f9;
}

form input[type="text"] {
    width: 90%;
    padding: 5px;
}